<launch>
    <arg name="custom_config" default="" />

    <!-- Load ROS parameters from the config file -->
    <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

    <!-- Run ov_extension.py node -->
    <node pkg="monospheres" type="random_octomap_explorer.py" name="random_octomap_explorer" output="screen"/>

</launch>
